* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow: hidden;
}

#squares-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.square {
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid black;
    backdrop-filter: blur(15px);
    transition: background-color 0.1s ease-out;
}

.square:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#set-btn {
    position:absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #000;
    transition: transform 0.3s ease;
}

#set-btn:hover{
    cursor: pointer;
    background-color: moccasin;
    transform: scale(1.05);
}

#change-overlay{
    position: absolute;
    width: 30%;
    height: 30%;
    border-radius: 20px;
    border: 1px solid #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background:rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#change-overlay input{
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    border: 1px solid #000;
}

#change-overlay #confirm {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    transition: transform 0.3s ease;
}

#confirm:hover{
    cursor: pointer;
    transform: scale(1.01);
    background-color: green;
    color: white;
}

#close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
}

#close-btn img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#close-btn img:hover{
    transform: rotate(180deg);
}